.header{
    display: flex;
    flex-direction: row;
    width: 1260px;
    height: 85px;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.category {
    flex-direction: row;
    border-radius: 50px;
    border-style: solid;
    border-color: #82acff;
    border-width: 1px;
    height: 50px;
    justify-content: center;
    margin: 20px 0;
    padding: 0 20px;
}
.category button {
    width: 140px;
    height: 50px;
    background-color: #ffffff;
    border: none;
    color: #82acff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
    margin: 0 10px;
}

.category button:hover {
    color: #ffffff;
    background-color: #83b1ff;
}



.logo {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
.logo button{
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.bringup {
    text-align: center;
    font-family: 'Zen-Tokyo-Zoo', sans-serif;
    font-size: 40px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bringup-span1 {
    color: #516dff;
    font-size: 40px;
    line-height: 125%;
    font-weight: 400;
}

.bringup-span2 {
    color: #7a4bff;
    font-size: 40px;
    line-height: 125%;
    font-weight: 400;
}

.interface{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.message{
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.menu{
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.line{
    justify-content: center;
    background-color: #d4ddff;
    height: 1px;
    border:0;
}
